version: '2'

services:
  kusanagi-data:
    container_name: kusanagi-data
    image: busybox
    restart: always
    stdin_open: true
    tty: true
    volumes:
      - /var/lib/mysql
      - /etc/nginx/conf.d
      - /etc/httpd/conf.d
      - /home/kusanagi
    command: /bin/sh
  
  kusanagi-nginx:
    container_name: kusanagi-nginx
    build: kusanagi-nginx
    environment:
      PROFILE: kusanagi
      FQDN: kusanagi.example.jp
      WPLANG: ja
      BCACHE: "off"
      FCACHE: "off"
    volumes_from:
      - kusanagi-data
    links:
      - kusanagi-php7:php
    ports:
      - "80:80"
      - "443:443"
  
  kusanagi-mariadb:
    container_name: kusanagi-mariadb
    image: mariadb:10.0.24
    environment:
      MYSQL_ROOT_PASSWORD: my-secret-pw
      MYSQL_USER:     user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: wordpress
    volumes_from:
      - kusanagi-data
  
  kusanagi-php7:
    container_name: kusanagi-php7
    build: kusanagi-php7
    links:
      - kusanagi-mariadb:mysql
    volumes_from:
      - kusanagi-data

  kusanagi-php5:
    container_name: kusanagi-php5
    build: kusanagi-php5
    links:
      - kusanagi-mariadb:mysql
    volumes_from:
      - kusanagi-data
