  php:
    container_name: ${PROFILE}_php
    image: $KUSANAGI_PHP_IMAGE
    restart: always
    env_file:
      - .kusanagi
      - .kusanagi.php
      - .kusanagi.mail
    network_mode: "service:httpd"
    volumes:
      - database:${DBLIB}
      - kusanagi:/home/kusanagi

