## CONFIG
  config:
    container_name: ${PROFILE}_config
    image: $CONFIG_IMAGE
    user: "1000:1000"
    network_mode: "service:httpd"
    env_file:
      - .kusanagi
      - .kusanagi.wp
    volumes:
      - database:/var/run/mysqld
      - kusanagi:/home/kusanagi
    command: wp --version
    logging:
      driver: journald


