## CONFIG
  config:
    container_name: ${PROFILE}_config
    restart: "no"
${WSL1_BUILD}
${WSL1_CONTEXTS}
    user: "1000:1001"
    env_file:
      - .kusanagi
      - .kusanagi.wp
      - .kusanagi.db
    volumes:
      - kusanagi:/home/kusanagi
      ${WSL_INI}
      ${WSL_VOL}
    command: wp --version

